











































{{!-- <div class="row">
    <div class="col-xs-12 welcome-header">
        <!--<center>PetLink</center>-->
    </div>
</div>

<div class="image-container">
    <img src=".\images\dog-and-cat_adopt_banner-1.png" style= "height: 300px; width: 100%;">
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="pet-welcome">
            <p>Thinking about getting a dog for your family? If you are like many, you may be considering buying a dog
                from a pet store or breeder. However, before you make a decision, consider the benefits of adopting a
                shelter dog. Though pet store or breeders’ canines may seem the more advantageous choice, rescue dogs
                can be equally rewarding and perhaps an even better addition to your family.
                <br>
                </br>
                Rescue dogs have the ability to lift your spirits as well as improve the quality and increase the
                longevity of your life. The health benefits associated with adopting a companion animal like a dog are
                many and even scientifically substantiated. Your furry friend will benefit both your physical and
                emotional health. Adopting a rescue dog may require more time, attention, effort, and patience from an
                adopter than a dog that has not been abused or neglected. However, the joy and gratification to be
                derived from saving a dog in need are boundless.</p>
        </div>
    </div>
</div>
</div>
