<body>
    
    <script>
        var sweetAlert = function () {
            swal("Success!", "Contact Information Successfully Submitted!", "success");
        }
        sweetAlert();
    </script>

</body>