<body>
    <a href = "./contactus">Back To Contact Page</a>

<script>
    var sweetAlert = function() {
        sweetAlert("Error!", "Phone Number Must Be 10 Digits", "error");
    }
    sweetAlert();
</script>
 
</body>