<script id="address-template" type="text/x-handlebars-template">




<div class="jumbotron jumbotron-fluid bg-dark">
  <div class="container">
    <h1 class="display-4">Welcome To Pet-Link!</h1>
  </div>
</div>




<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Pet-Link</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Our Mission<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Adoption Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us/a>
      </li>
    </ul>
    <span class="navbar-text">
        These dogs need lovable homes!
    </span>
  </div>
</nav>











  
</script>
