.main-body {
    background: white;
    width: 200px;
    height: 200px ;
    font-size: 20px;
    padding: 20px;
}


p {
    margin: 40px;
    font-size: 20px;
    font-family: 'Actor';font-size: 22px;

}

.navbar {
    font-size: 22px;
    padding: 5px;
    font-family: 'Actor';font-size: 22px;
    background-color: white;
}

.image-container {
    display: flex;
    justify-content: center;
    width: 100%;
}